<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clf.module_main">

    <application>
        <activity android:name=".ui.main3.Main3Activity"></activity>
        <activity android:name=".ui.main2.Main2Activity" />
        <activity android:name=".ui.GuideActivity" />
        <activity
            android:name=".ui.kotlin.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>